@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@import url("https://fonts.googleapis.com/earlyaccess/jejugothic.css");

h1,
h2,
h3,
h4,
h5,
.navbar-brand {
  font-family: "Jeju Gothic";
  color: white;
}
body {
  font-family: "Nanum Gothic";
  background-color: black;
}
.navbar {
  border-bottom: black;
}
